<h1>Bienvenue @user </h1>

<p> Voici la liste des produits présents sur le site :</p>

<table>
   <tr>
   		<th>Images</th>
       <th>Titre</th>
       <th>Description?</th>
       <th>Prix</th>
        <th>Modifier</th>
    </tr>
<%= link_to "new item", new_item_path, method: :get  %></span>

    <% @items.each do |item| %>
    
    <tr>
    	<td><img src="<%=item.image_url%>"></td>
    	<td><%=item.title %></td>
    	<td><%=item.description %></td>
    	<td><%=item.price%></td>

    	<td> <%= link_to "Modifier", edit_item_path(item.id)%> </tD>
    </tr>   
<% end %>   
</table>

<p>Voici la liste des commandes recus :</p>

<% @orders.each do |order| %>
<p><%= order %>

  <% end %>